<div id="ticket">
  <%= link_to @ticket.title, ticket_comments_path(@ticket) %>
  <%= simple_format(@ticket.description) %>
  <% if @ticket.assets.exists? %>
    <h3>Attached Files</h3>
    <div class="assets">
      <% @ticket.assets.each do |asset| %>
        <p>
          <%= link_to File.basename(asset.asset.path), asset.asset.url %>
        </p>
        <p>
          <small><%= number_to_human_size(asset.asset.size) %></small>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

</div>
<%= render "comments/form" %>
