<%= link_to "New Ticket", new_project_ticket_path(@project) %>
<%= link_to "All tickets" , project_path(@project)%>
<%= form_tag search_project_tickets_path(@project),  :method => :get do %>
  <%= label_tag "search" %>
  <%= text_field_tag :search, "search" %>
  <%= submit_tag "Search" %>
<% end %>
<div id="ticket">
  <ul id='tickets'>
    <% @tickets.each do |ticket| %>
      <li>
        #<%= ticket.id %> -
        <%= link_to ticket.title, [@project, ticket] %>
      </li>
    <% end %>
  </ul>
</div>
